<!DOCTYPE html>
<html>
    <head>
        <title>
            Web Scraping
        </title>
    </head>
    <body>
        <h1>Web Scraping using cheerio and nodejs</h>
        <p>Movie Title : {{title}}</p> 
        <p>Genre : {{genre}}</p>
        <p>Rating : {{rating}}</p>
    </body>
</html>